In [8]:
import pandas as pd

## Vivienda

In [9]:
file = "../../dataframes/enigh/enigh_grouped_2016.csv"

In [10]:
df = pd.read_csv(filepath_or_buffer=file)

In [11]:
df.shape

(962, 121)

In [12]:
df.isnull().any().any()

False

In [13]:
df[(df.ent == 9)]

,ent,mun,tam_loc,est_socio,clase_hog,sexo_jefe,educa_jefe,edad_jefe,tot_integ,hombres,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
155,9,2,0.372829,0.177270,0.645347,0.738405,0.086658,56.474359,3.141026,1.487179,...,186.104103,102.492308,91.472051,11.020256,537.899103,0.000000,2750.251026,132.408462,21.822564,69.113590
156,9,3,0.372829,0.528879,0.645347,0.738405,0.105375,53.454545,3.147727,1.511364,...,0.000000,111.577045,53.866136,57.710909,5217.238295,19.211364,5367.043182,14.126023,0.000000,1458.020795
157,9,4,0.372829,0.528879,0.645347,0.738405,0.262391,47.238095,4.023810,2.023810,...,117.511429,17.758333,17.758333,0.000000,0.000000,0.000000,1048.136429,0.000000,0.000000,768.633333
158,9,5,0.372829,0.528879,0.645347,0.738405,0.262391,51.192513,3.593583,1.582888,...,1060.013369,317.550481,241.897005,75.653476,1237.930802,213.984866,1169.103957,234.771123,77.822353,715.485936
159,9,6,0.372829,0.177270,0.645347,0.738405,0.262391,52.252874,3.287356,1.482759,...,843.158851,224.841034,137.641954,87.199080,1163.956897,0.000000,2819.338276,51.739310,159.161149,150.735862
160,9,7,0.372829,0.528879,0.645347,0.738405,0.262391,51.106164,3.698630,1.791096,...,279.484966,433.758938,191.382192,242.376747,1190.939829,54.445377,822.705068,136.675205,514.752705,2493.137568
161,9,8,0.372829,0.528879,0.645347,0.738405,0.105375,50.304348,3.521739,1.565217,...,0.000000,147.307826,59.639130,87.668696,216.190000,0.000000,3190.318261,0.000000,17.106087,583.406087
162,9,9,0.134417,0.528879,0.645347,0.738405,0.262391,45.722222,3.944444,1.944444,...,0.000000,11.049444,11.049444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
163,9,10,0.372829,0.528879,0.645347,0.738405,0.262391,53.959350,3.227642,1.560976,...,177.733902,291.145122,121.564472,169.580650,954.400732,91.897886,5904.506016,126.458049,26.574959,1148.270325
164,9,11,0.372829,0.528879,0.645347,0.738405,0.262391,53.131579,3.473684,1.697368,...,197.368421,226.513158,105.827368,120.685789,881.491447,32.179605,571.310263,119.813421,342.987895,330.101579
165,9,12,0.372829,0.528879,0.645347,0.738405,0.262391,50.346154,3.730769,1.792308,...,0.000000,357.281154,252.584615,104.696538,1911.886538,2.269846,1959.854769,400.602538,176.857154,1552.665000
166,9,13,0.372829,0.528879,0.645347,0.738405,0.262391,49.814815,3.716049,1.740741,...,323.177901,95.709012,93.897531,1.811481,1159.750864,19.323580,2578.773333,334.095185,180.233457,33.900617
167,9,14,0.372829,0.066049,0.645347,0.738405,0.086658,51.551020,2.469388,1.183673,...,2383.804796,400.685000,187.167143,213.517857,3345.008980,581.916020,12352.277347,389.798673,7.527551,772.348061
168,9,15,0.372829,0.177270,0.645347,0.738405,0.262391,50.139640,2.653153,1.252252,...,1376.721577,106.333649,49.224144,57.109505,477.560180,72.708514,2493.854054,282.780901,31.022207,2348.132838
169,9,16,0.372829,0.177270,0.645347,0.738405,0.086658,51.283784,2.418919,0.959459,...,4646.337703,82.445270,20.973649,61.471622,2129.532703,159.503649,6797.927838,0.000000,39.659189,236.632568
170,9,17,0.372829,0.177270,0.645347,0.738405,0.086658,51.842105,3.298246,1.535088,...,349.745175,55.693596,33.891667,21.801930,763.813509,6.025526,786.765877,59.759035,222.093070,13.216930

In [7]:
df.drop(df['loc'].value_counts()

0    962
Name: loc, dtype: int64

In [10]:
df_cdmx = df[(df.ent == 9)]

In [16]:
for column in df_cdmx.columns:
    print(column)
    print('nunique', ':', df_cdmx[column].nunique())
    print('value counts', ':', df_cdmx[column].value_counts())
    print('_________________________________________________')

ent
nunique : 1
value counts : 9    29
Name: ent, dtype: int64
_________________________________________________
mun
nunique : 16
value counts : 9     7
13    3
12    3
11    3
4     2
17    1
16    1
15    1
14    1
10    1
8     1
7     1
6     1
5     1
3     1
2     1
Name: mun, dtype: int64
_________________________________________________
loc
nunique : 14
value counts : 1      16
161     1
27      1
26      1
56      1
21      1
20      1
17      1
239     1
324     1
11      1
134     1
228     1
227     1
Name: loc, dtype: int64
_________________________________________________
tipo_viv
nunique : 2
value counts : 0.954999    26
0.037142     3
Name: tipo_viv, dtype: int64
_________________________________________________
mat_pared
nunique : 1
value counts : 0.904291    29
Name: mat_pared, dtype: int64
_________________________________________________
mat_techos
nunique : 3
value counts : 0.790001    27
0.109512     1
0.012025     1
Name: mat_techos, dtype: int64
_________________________________________________
mat_pisos
nunique : 2
value counts : 0.461584    15
0.525107    14
Name: mat_pisos, dtype: int64
_________________________________________________
ais_techos
nunique : 1
value counts : 0.942184    29
Name: ais_techos, dtype: int64
_________________________________________________
ais_pared
nunique : 1
value counts : 0.981162    29
Name: ais_pared, dtype: int64
_________________________________________________
ais_ventan
nunique : 1
value counts : 0.986454    29
Name: ais_ventan, dtype: int64
_________________________________________________
ais_otro
nunique : 1
value counts : 0.992457    29
Name: ais_otro, dtype: int64
_________________________________________________
cocina_dor
nunique : 2
value counts : 0.932765    28
0.067235     1
Name: cocina_dor, dtype: int64
_________________________________________________
disp_agua
nunique : 2
value counts : 0.807476    23
0.192524     6
Name: disp_agua, dtype: int64
_________________________________________________
dotac_agua
nunique : 5
value counts : 0.746125    17
0.146911     5
0.046028     4
0.034378     2
0.026558     1
Name: dotac_agua, dtype: int64
_________________________________________________
uso_compar
nunique : 2
value counts : 0.960429    28
0.039571     1
Name: uso_compar, dtype: int64
_________________________________________________
sanit_agua
nunique : 2
value counts : 0.762909    21
0.200877     8
Name: sanit_agua, dtype: int64
_________________________________________________
drenaje
nunique : 2
value counts : 0.779081    23
0.185633     6
Name: drenaje, dtype: int64
_________________________________________________
disp_elect
nunique : 1
value counts : 0.998223    29
Name: disp_elect, dtype: int64
_________________________________________________
combustible
nunique : 2
value counts : 0.820864    28
0.102838     1
Name: combustible, dtype: int64
_________________________________________________
eli_basura
nunique : 2
value counts : 0.833936    28
0.066781     1
Name: eli_basura, dtype: int64
_________________________________________________
lavadero
nunique : 1
value counts : 0.852043    29
Name: lavadero, dtype: int64
_________________________________________________
fregadero
nunique : 2
value counts : 0.668997    20
0.331003     9
Name: fregadero, dtype: int64
_________________________________________________
regadera
nunique : 2
value counts : 0.785696    22
0.214304     7
Name: regadera, dtype: int64
_________________________________________________
rega_elect
nunique : 1
value counts : 0.963233    29
Name: rega_elect, dtype: int64
_________________________________________________
tinaco_azo
nunique : 2
value counts : 0.607093    24
0.392907     5
Name: tinaco_azo, dtype: int64
_________________________________________________
cisterna
nunique : 2
value counts : 0.790297    17
0.209703    12
Name: cisterna, dtype: int64
_________________________________________________
pileta
nunique : 2
value counts : 0.411113    21
0.588887     8
Name: pileta, dtype: int64
_________________________________________________
calent_sol
nunique : 1
value counts : 0.948226    29
Name: calent_sol, dtype: int64
_________________________________________________
calent_gas
nunique : 2
value counts : 0.45953    22
0.54047     7
Name: calent_gas, dtype: int64
_________________________________________________
medidor_luz
nunique : 2
value counts : 0.956697    25
0.043303     4
Name: medidor_luz, dtype: int64
_________________________________________________
bomba_agua
nunique : 2
value counts : 0.75819    15
0.24181    14
Name: bomba_agua, dtype: int64
_________________________________________________
tanque_gas
nunique : 2
value counts : 0.890883    26
0.109117     3
Name: tanque_gas, dtype: int64
_________________________________________________
aire_acond
nunique : 1
value counts : 0.786091    29
Name: aire_acond, dtype: int64
_________________________________________________
calefacc
nunique : 1
value counts : 0.974587    29
Name: calefacc, dtype: int64
_________________________________________________
chimenea
nunique : 1
value counts : 0.967458    29
Name: chimenea, dtype: int64
_________________________________________________
repar_pard
nunique : 2
value counts : 0.54975    19
0.45025    10
Name: repar_pard, dtype: int64
_________________________________________________
repar_tech
nunique : 2
value counts : 0.546808    23
0.453192     6
Name: repar_tech, dtype: int64
_________________________________________________
repar_agua
nunique : 2
value counts : 0.818415    28
0.181585     1
Name: repar_agua, dtype: int64
_________________________________________________
repar_dren
nunique : 2
value counts : 0.871907    28
0.128093     1
Name: repar_dren, dtype: int64
_________________________________________________
repar_cabl
nunique : 2
value counts : 0.800111    25
0.199889     4
Name: repar_cabl, dtype: int64
_________________________________________________
const_dorm
nunique : 2
value counts : 0.587603    20
0.412397     9
Name: const_dorm, dtype: int64
_________________________________________________
const_coci
nunique : 2
value counts : 0.743755    28
0.256245     1
Name: const_coci, dtype: int64
_________________________________________________
const_bano
nunique : 2
value counts : 0.672354    26
0.327646     3
Name: const_bano, dtype: int64
_________________________________________________
const_neg
nunique : 2
value counts : 0.768063    25
0.231937     4
Name: const_neg, dtype: int64
_________________________________________________
tenencia
nunique : 4
value counts : 0.535257    23
0.149537     3
0.149912     2
0.128310     1
Name: tenencia, dtype: int64
_________________________________________________
computador
nunique : 2
value counts : 0.408921    17
0.591079    12
Name: computador, dtype: int64
_________________________________________________
tel_fijo
nunique : 2
value counts : 0.492151    21
0.507849     8
Name: tel_fijo, dtype: int64
_________________________________________________
celular
nunique : 2
value counts : 0.390854    20
0.609146     9
Name: celular, dtype: int64
_________________________________________________
internet
nunique : 2
value counts : 0.433801    18
0.566199    11
Name: internet, dtype: int64
_________________________________________________
tv_paga
nunique : 1
value counts : 0.895129    29
Name: tv_paga, dtype: int64
_________________________________________________
auto_pick
nunique : 2
value counts : 0.519203    21
0.480797     8
Name: auto_pick, dtype: int64
_________________________________________________
cuart_dorm
nunique : 25
value counts : 1.000000    2
2.000000    2
2.750000    2
2.125000    2
2.015385    1
2.024038    1
1.809524    1
2.115385    1
1.714286    1
1.500000    1
3.000000    1
2.068493    1
2.112211    1
2.500000    1
3.400000    1
1.400000    1
1.800000    1
2.008696    1
1.825581    1
1.820225    1
2.400000    1
1.842105    1
2.020000    1
2.064516    1
2.119403    1
Name: cuart_dorm, dtype: int64
_________________________________________________
num_cuarto
nunique : 26
value counts : 2.000000    3
4.500000    2
4.191304    1
4.375000    1
2.500000    1
5.000000    1
4.000000    1
4.022472    1
3.986301    1
4.090000    1
4.992647    1
3.925373    1
2.571429    1
4.302885    1
4.400000    1
4.111940    1
4.661538    1
4.017544    1
4.258065    1
3.400000    1
5.400000    1
3.904762    1
4.615385    1
4.019802    1
4.244186    1
4.100000    1
Name: num_cuarto, dtype: int64
_________________________________________________
bano_comp
nunique : 23
value counts : 0.000000    4
1.000000    3
0.400000    2
1.800000    1
0.900000    1
0.625000    1
0.142857    1
1.070000    1
0.500000    1
1.072115    1
1.692308    1
1.146067    1
1.013699    1
1.365672    1
1.252174    1
1.616279    1
1.400000    1
1.380952    1
0.966997    1
1.080645    1
1.566176    1
1.169591    1
1.250000    1
Name: bano_comp, dtype: int64
_________________________________________________
bano_excus
nunique : 25
value counts : 1.000000    4
0.400000    2
0.111111    1
0.232558    1
0.357143    1
0.250000    1
0.423077    1
0.750000    1
0.857143    1
1.500000    1
0.000000    1
0.307692    1
0.274038    1
0.800000    1
0.547826    1
0.241935    1
0.260274    1
0.409241    1
0.220000    1
0.600000    1
0.200000    1
0.313433    1
0.419118    1
0.101124    1
0.350746    1
Name: bano_excus, dtype: int64
_________________________________________________
bano_regad
nunique : 11
value counts : 0.000000    19
0.011628     1
0.014706     1
0.007463     1
0.014925     1
0.010000     1
0.076923     1
0.125000     1
0.027397     1
0.004808     1
0.006601     1
Name: bano_regad, dtype: int64
_________________________________________________
focos_inca
nunique : 25
value counts : 2.000000    3
0.500000    2
1.000000    2
0.666667    1
0.841584    1
3.000000    1
0.000000    1
1.447761    1
1.035088    1
1.505618    1
3.400000    1
1.129032    1
1.333333    1
0.831731    1
0.616438    1
0.939130    1
0.923077    1
0.970000    1
1.046154    1
0.400000    1
1.022059    1
1.023256    1
1.200000    1
1.082090    1
0.300000    1
Name: focos_inca, dtype: int64
_________________________________________________
focos_ahor
nunique : 25
value counts : 5.000000     3
3.800000     2
3.000000     2
7.222222     1
5.662921     1
16.500000    1
5.375000     1
6.150685     1
6.500000     1
9.767442     1
11.779412    1
11.923077    1
1.428571     1
6.471154     1
7.193548     1
5.800000     1
9.234783     1
6.790000     1
5.917492     1
6.600000     1
5.400000     1
8.047619     1
7.932836     1
6.074627     1
14.000000    1
Name: focos_ahor, dtype: int64
_________________________________________________
tot_resid
nunique : 25
value counts : 5.000000    4
3.000000    2
4.200000    1
3.125000    1
3.214286    1
3.460000    1
7.000000    1
6.500000    1
4.000000    1
2.569767    1
3.313043    1
3.323077    1
3.776119    1
3.780822    1
3.894389    1
3.470588    1
3.269663    1
3.187135    1
4.600000    1
3.629032    1
4.700000    1
3.408654    1
4.653846    1
3.850746    1
2.333333    1
Name: tot_resid, dtype: int64
_________________________________________________
tot_hog
nunique : 12
value counts : 1.000000    18
1.007463     1
1.041096     1
1.023810     1
1.040000     1
1.019231     1
1.013201     1
1.011696     1
1.058140     1
1.015385     1
1.022472     1
1.014706     1
Name: tot_hog, dtype: int64
_________________________________________________
tam_loc
nunique : 4
value counts : 1    15
4     7
2     5
3     2
Name: tam_loc, dtype: int64
_________________________________________________
est_socio
nunique : 17
value counts : 2.000000    13
3.066176     1
2.500000     1
2.696629     1
2.668269     1
2.769231     1
3.616279     1
2.869565     1
2.828358     1
3.353846     1
2.753425     1
2.812865     1
2.274194     1
2.432343     1
2.761905     1
2.701493     1
2.840000     1
Name: est_socio, dtype: int64
_________________________________________________