In [24]:
import pandas as pd
import numpy as np

## Vivienda

In [25]:
file = "../../dataframes/enigh/enigh_transf_2016.csv"

In [26]:
df = pd.read_csv(filepath_or_buffer=file)

In [27]:
df.shape

(70311, 122)

In [28]:
df.isnull().any().any()

False

In [29]:
df.head()

,Unnamed: 0,tam_loc,est_socio,clase_hog,sexo_jefe,educa_jefe,ent,mun,edad_jefe,tot_integ,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
0,0,0.372829,0.066049,0.645347,0.738405,0.086658,1,1,33,2,...,0.0,98.36,98.36,0.00,0.0,0.0,17409.83,0.0,0.0,0.0
1,1,0.372829,0.066049,0.645347,0.738405,0.086658,1,1,29,2,...,0.0,0.00,0.00,0.00,0.0,0.0,5360.65,0.0,0.0,0.0
2,2,0.372829,0.066049,0.645347,0.738405,0.086658,1,1,47,6,...,0.0,172.13,0.00,172.13,0.0,0.0,23606.55,0.0,0.0,0.0
3,3,0.372829,0.066049,0.233335,0.261595,0.016953,1,1,29,3,...,0.0,0.00,0.00,0.00,0.0,0.0,8852.45,0.0,0.0,0.0
4,4,0.372829,0.066049,0.645347,0.738405,0.086658,1,1,55,2,...,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0

In [30]:
df_copy = df.copy()

In [31]:
df_copy.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [32]:
df_copy.columns

Index(['tam_loc', 'est_socio', 'clase_hog', 'sexo_jefe', 'educa_jefe', 'ent',
       'mun', 'edad_jefe', 'tot_integ', 'hombres',
       ...
       'cuota_viv', 'mater_serv', 'material', 'servicio', 'deposito',
       'prest_terc', 'pago_tarje', 'deudas', 'balance', 'otras_erog'],
      dtype='object', length=121)

In [33]:
df_copy.shape

(70311, 121)

In [34]:
categoricos = ['tam_loc', 'est_socio', 'clase_hog', 'sexo_jefe', 'educa_jefe']

In [35]:
numericos = []

for row in df_copy.columns:
    if row not in categoricos:
        if (row != 'ent') & (row != 'mun') & (row != 'loc'):
#            print(row)
            numericos.append(row)
            
numericos

['edad_jefe',
 'tot_integ',
 'hombres',
 'mujeres',
 'mayores',
 'menores',
 'p12_64',
 'p65mas',
 'ocupados',
 'percep_ing',
 'perc_ocupa',
 'ing_cor',
 'ingtrab',
 'trabajo',
 'sueldos',
 'horas_extr',
 'comisiones',
 'aguinaldo',
 'indemtrab',
 'otra_rem',
 'remu_espec',
 'negocio',
 'noagrop',
 'industria',
 'comercio',
 'servicios',
 'agrope',
 'agricolas',
 'pecuarios',
 'reproducc',
 'pesca',
 'otros_trab',
 'rentas',
 'utilidad',
 'arrenda',
 'transfer',
 'jubilacion',
 'becas',
 'donativos',
 'remesas',
 'bene_gob',
 'transf_hog',
 'trans_inst',
 'estim_alqu',
 'otros_ing',
 'gasto_mon',
 'alimentos',
 'ali_dentro',
 'cereales',
 'carnes',
 'pescado',
 'leche',
 'huevo',
 'aceites',
 'tuberculo',
 'verduras',
 'frutas',
 'azucar',
 'cafe',
 'especias',
 'otros_alim',
 'bebidas',
 'ali_fuera',
 'tabaco',
 'vesti_calz',
 'vestido',
 'calzado',
 'vivienda',
 'alquiler',
 'pred_cons',
 'agua',
 'energia',
 'limpieza',
 'cuidados',
 'utensilios',
 'enseres',
 'salud',
 'atenc_ambu',
 'hospital',
 'medicinas',
 'transporte',
 'publico',
 'foraneo',
 'adqui_vehi',
 'mantenim',
 'refaccion',
 'combus',
 'comunica',
 'educa_espa',
 'educacion',
 'esparci',
 'paq_turist',
 'personales',
 'cuida_pers',
 'acces_pers',
 'otros_gas',
 'transf_gas',
 'percep_tot',
 'retiro_inv',
 'prestamos',
 'otras_perc',
 'ero_nm_viv',
 'ero_nm_hog',
 'erogac_tot',
 'cuota_viv',
 'mater_serv',
 'material',
 'servicio',
 'deposito',
 'prest_terc',
 'pago_tarje',
 'deudas',
 'balance',
 'otras_erog']

In [36]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[categoricos].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[numericos].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'tam_loc': <function __main__.<lambda>(x)>,
 'est_socio': <function __main__.<lambda>(x)>,
 'clase_hog': <function __main__.<lambda>(x)>,
 'sexo_jefe': <function __main__.<lambda>(x)>,
 'educa_jefe': <function __main__.<lambda>(x)>,
 'edad_jefe': 'mean',
 'tot_integ': 'mean',
 'hombres': 'mean',
 'mujeres': 'mean',
 'mayores': 'mean',
 'menores': 'mean',
 'p12_64': 'mean',
 'p65mas': 'mean',
 'ocupados': 'mean',
 'percep_ing': 'mean',
 'perc_ocupa': 'mean',
 'ing_cor': 'mean',
 'ingtrab': 'mean',
 'trabajo': 'mean',
 'sueldos': 'mean',
 'horas_extr': 'mean',
 'comisiones': 'mean',
 'aguinaldo': 'mean',
 'indemtrab': 'mean',
 'otra_rem': 'mean',
 'remu_espec': 'mean',
 'negocio': 'mean',
 'noagrop': 'mean',
 'industria': 'mean',
 'comercio': 'mean',
 'servicios': 'mean',
 'agrope': 'mean',
 'agricolas': 'mean',
 'pecuarios': 'mean',
 'reproducc': 'mean',
 'pesca': 'mean',
 'otros_trab': 'mean',
 'rentas': 'mean',
 'utilidad': 'mean',
 'arrenda': 'mean',
 'transfer': 'mean',
 'jubilacion': 'mean',
 'becas': 'mean',
 'donativos': 'mean',
 'remesas': 'mean',
 'bene_gob': 'mean',
 'transf_hog': 'mean',
 'trans_inst': 'mean',
 'estim_alqu': 'mean',
 'otros_ing': 'mean',
 'gasto_mon': 'mean',
 'alimentos': 'mean',
 'ali_dentro': 'mean',
 'cereales': 'mean',
 'carnes': 'mean',
 'pescado': 'mean',
 'leche': 'mean',
 'huevo': 'mean',
 'aceites': 'mean',
 'tuberculo': 'mean',
 'verduras': 'mean',
 'frutas': 'mean',
 'azucar': 'mean',
 'cafe': 'mean',
 'especias': 'mean',
 'otros_alim': 'mean',
 'bebidas': 'mean',
 'ali_fuera': 'mean',
 'tabaco': 'mean',
 'vesti_calz': 'mean',
 'vestido': 'mean',
 'calzado': 'mean',
 'vivienda': 'mean',
 'alquiler': 'mean',
 'pred_cons': 'mean',
 'agua': 'mean',
 'energia': 'mean',
 'limpieza': 'mean',
 'cuidados': 'mean',
 'utensilios': 'mean',
 'enseres': 'mean',
 'salud': 'mean',
 'atenc_ambu': 'mean',
 'hospital': 'mean',
 'medicinas': 'mean',
 'transporte': 'mean',
 'publico': 'mean',
 'foraneo': 'mean',
 'adqui_vehi': 'mean',
 'mantenim': 'mean',
 'refaccion': 'mean',
 'combus': 'mean',
 'comunica': 'mean',
 'educa_espa': 'mean',
 'educacion': 'mean',
 'esparci': 'mean',
 'paq_turist': 'mean',
 'personales': 'mean',
 'cuida_pers': 'mean',
 'acces_pers': 'mean',
 'otros_gas': 'mean',
 'transf_gas': 'mean',
 'percep_tot': 'mean',
 'retiro_inv': 'mean',
 'prestamos': 'mean',
 'otras_perc': 'mean',
 'ero_nm_viv': 'mean',
 'ero_nm_hog': 'mean',
 'erogac_tot': 'mean',
 'cuota_viv': 'mean',
 'mater_serv': 'mean',
 'material': 'mean',
 'servicio': 'mean',
 'deposito': 'mean',
 'prest_terc': 'mean',
 'pago_tarje': 'mean',
 'deudas': 'mean',
 'balance': 'mean',
 'otras_erog': 'mean'}

In [37]:
grouped = df_copy.groupby(by=['ent', 'mun']).agg(f)

In [38]:
grouped.head()

          tam_loc  est_socio  clase_hog  sexo_jefe  educa_jefe  edad_jefe  \
ent mun
1   1    0.372829   0.528879   0.645347   0.738405    0.262391  47.178082
    2    0.364580   0.528879   0.645347   0.738405    0.262391  49.737179
    3    0.364580   0.528879   0.645347   0.738405    0.262391  46.260870
    4    0.364580   0.528879   0.645347   0.738405    0.262391  50.319149
    5    0.364580   0.528879   0.645347   0.738405    0.262391  42.640167

         tot_integ   hombres   mujeres   mayores     ...         cuota_viv  \
ent mun                                              ...
1   1     3.692862  1.786590  1.906273  2.839942     ...       1257.994218
    2     4.269231  2.064103  2.205128  3.250000     ...         33.498654
    3     4.065217  1.967391  2.097826  2.826087     ...          0.000000
    4     3.595745  1.595745  2.000000  2.744681     ...          0.000000
    5     4.347280  2.217573  2.129707  3.096234     ...       1124.746402

         mater_serv    material    servicio    deposito  prest_terc  \
ent mun
1   1    505.296006  342.528183  162.767823  931.772884   70.056164
    2    303.894744  212.535000   91.359744  186.697500   35.747500
    3     80.585217   65.446630   15.138587  255.528370   79.160109
    4    683.141702  485.425745  197.715957  433.215745    0.000000
    5    234.392762  148.343305   86.049456  658.408912   26.021590

          pago_tarje      deudas       balance   otras_erog
ent mun
1   1    1200.763764  490.357578    190.692848   528.246864
    2       4.264167   71.321987    720.562115    12.107949
    3     108.676848   32.963043    251.012391    23.222935
    4     460.013830  231.315957  10417.485532  1716.819787
    5     696.197448  359.841841     78.102469   144.086862

[5 rows x 119 columns]

In [40]:
grouped.educa_jefe.value_counts()

0.262391    437
0.177469    323
0.176246    111
0.076631     41
0.086658     26
0.105375     22
0.016953      1
0.033736      1
Name: educa_jefe, dtype: int64

In [41]:
file = '../../dataframes/enigh/enigh_grouped_2016.csv'

In [42]:
grouped.to_csv(file)